{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block title %}About{% endblock %}

{% block body %}
<main class="about">
    <!-- (Jordan Grandison) START -->
    <header>
        <h1>Get to Know PlanPro</h1>
    </header>
    <section>
        <h2>Your Study Sidekick</h2>
        <p>Meet "PlanPro" – your go-to tool for school stuff. It makes planning your day a breeze, much easier than the old ways.</p>
        <p>Why is it cool? Because it's really simple. No confusing stuff. Just type in what you need to do, and it sorts everything out for you.</p>
        <p>But wait, there's more! It's not just for planning; it also helps you keep track of your grades. Ever wondered what scores you need for that dream GPA? Study Planner tells you exactly what you need in each class.</p>
        <p>Say goodbye to stress and hello to easy planning with Study Planner. Your grades will love you for it!</p>
    </section>
    <!-- (Jordan Grandison) END -->
</main>
<footer>
</footer>
{% endblock %}