{% extends 'base.html' %}

{% block head %}
{% endblock %}
{% block title %}Login{% endblock %}

{% block body %}
<main class="login">
    <div id="loginContainer">
        <h2>Login</h2>
        <form id="loginForm" method="POST" action="/login">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
            <button type="submit" name="login">Login</button>
        </form>
        {% if error_message %}
        <div class="alert alert-warning">{{ error_message }}</div>
        {% endif %}
    </div>
</main>
<footer>
</footer>
{% endblock %}